body {
  text-align: center;
  color: white;
  font-size: x-large;
  padding: 10px;
}

.dark {
  background-color: rgb(72 74 225);
}

.country {
  background-color: rgb(72 74 225);
  padding: 3rem;
  font-size: xx-large;
}

div {
  padding-bottom: 1rem;
}

.back {
  color: white;
  margin: 1rem;
  background-color: rgb(72 74 225);
}
